<html>
    <head>
        <title>STOMBLE API</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" style="background-color: grey; text-align: center;">
                <img class="logo" src="img\stomble_logo.png" alt="Stomble">
                <h1>Welcome to Stomble's REST API</h1>
            </div>
            <ul class="list-group">
                <a href="http://localhost:3000/ships" class="btn btn-lg btn-block btn-primary">Ships</a>
                <a href="http://localhost:3000/locations" class="btn btn-lg btn-block  btn-primary">Locations</a>
            </ul>
        </div>
    </body>
</html>