<html>
    <head>
        <title>STOMBLE SHIPS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/server/styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center; background-color: rgb(165, 163, 163);">
                <h1>TRAVEL PAGE</h1>
                <div>
                    <button class="btn btn-lg" style="margin-right: 10;"><a href="/">Go Home</a></button>
                    <button class="btn btn-lg" style="margin-right: 10;"><a href="/ships">Go to ships</a></button>
                    <button class="btn btn-lg" ><a href="/locations">Go to locations</a></button>
                </div>
            </div>
            
            <!-- buttons  -->
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <!-- form to add a new ship -->
                        <form action="/ships/travel/?_method=PUT" method="POST">
                            <div class="form-group">
                            <label for="id">ID</label>
                            <input type="number" class="form-control" name="id" id="id" placeholder="Enter ID">
                            </div>
                            <div class="form-group">
                                <label for="cname">City name</label>
                                <input type="text" class="form-control" name="cname" id="cname" placeholder="Enter destination city">
                            </div>
                            <div class="form-group">
                                <label for="pname">Planet name</label>
                                <input type="text" class="form-control" name="pname" id="pname" placeholder="Enter destination planet">
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-warning">Travel</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>